.root {
  display: flex;
  justify-content: center;

  margin-top: 24px;

  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #d5dce4;
}
