.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;

  max-width: 1000px;
  margin-top: 50px;

  font-family: Helvetica, Arial, sans-serif;

  background-color: #ededed;
}

@media (min-width: 500px) {
  .content {
    margin-left: 250px;
    margin-top: 200px;
  }
}
