.root {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.content {
  margin-top: 50px;
  padding: 12px;

  font-family: Helvetica, Arial, sans-serif;

  background-color: #ededed;
}
