.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;

  margin-top: 50px;

  font-family: Helvetica, Arial, sans-serif;

  background-color: #ededed;
}

@media (min-width: 500px) {
  .content {
    margin-top: 200px;
  }
}
