.root {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;
  min-width: 70px;

  font-size: 16px;
  color: #ffffff;

  background-color: #7799ff;
  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition-duration: 0.3s;
}

.root:hover {
  background-color: #3366ff;
  transform: scale(1.05);
}

.root:active {
  color: #cdcdcd;
  background-color: #2043ad;
  transform: scale(1);
}

.root-isDestructive {
  background-color: #e6461a;
}

.root-isDisabled {
  background-color: grey;
  cursor: default;
}

.root-isDisabled:hover {
  background-color: grey;
  transform: scale(1);
}

.root-isDisabled:active {
  background-color: grey;
}
