.root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 24px;
  margin-top: 32px;
  width: 80%;
  max-width: 500px;

  box-shadow: 1px 1px 15px -3px;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 32px;
}

.section:last-child {
  margin-bottom: 8px;
}

.input {
  margin-top: 8px;
  padding: 6px;

  border: none;
}

.submitBtn {
  margin-top: 24px;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;

  padding-top: 4px;

  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #e6461a;
}
