.root {
  display: flex;
  flex-direction: column;
}

.arrow {
  border: solid rgb(80, 255, 153);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(45deg);
}

.arrow1 {
  position: relative;
  bottom: 2px;
}
