.root {
  display: flex;
  flex-direction: column;

  margin-bottom: 2px;
}

.arrow {
  border: solid rgb(255, 121, 44);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow1 {
  position: relative;
  bottom: 2px;
}
