.root {
  position: absolute;
  top: 34px;
  right: 4px;
  z-index: 2;

  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 12px;
  min-width: 100px;

  cursor: pointer;
}

.item-isSelected {
  background-color: #444444;
  color: #ffffff;
}

.item:hover {
  background-color: #7c7c7c;
  color: #ffffff;
}

.text {
  margin-left: 12px;
}
