.root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.addInputSection {
  position: relative;

  width: 100%;
}

.addInput {
  width: 100%;
  padding: 4px;
  padding-right: 50px;
  min-height: 40px;

  box-sizing: border-box;
}

.priority {
  position: absolute;
  bottom: 6px;
  right: 16px;

  cursor: pointer;
}

.priorityDefault {
  color: grey;
}

.calendar {
  position: absolute;
  top: 32px;
  right: 0;
}
