.root {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 0 12px;
  margin-bottom: 12px;
  max-height: 0;
  width: 100%;
  box-sizing: border-box;

  font-size: 16px;

  opacity: 0;
  border: 2px solid grey;
  border-radius: 12px;

  transition: all 0.5s linear;
}

.root:hover {
  background-color: #dbdbdb;
}

.root-isCompleted {
  text-decoration: line-through;
}

.root-isVisible {
  max-height: 88px;
  padding: 12px;

  opacity: 1;
}

.row {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.text {
  display: flex;
  align-items: center;
  height: 30px;
}

.confirmedDateText {
  display: flex;
  align-items: center;
  height: 30px;

  color: #232323;

  text-decoration: underline;

  cursor: pointer;

  transition: 0.3s;
}

.emptyDateText {
  display: flex;
  align-items: center;
  height: 30px;

  color: #ababab;

  text-decoration: underline;

  cursor: pointer;

  transition: 0.3s;
}

.emptyDateText:hover,
.confirmedDateText:hover {
  color: teal;
}

.check {
  width: 20px;
  height: 20px;

  border: 2px solid #3366ff;
  border-radius: 50%;
  margin-right: 12px;

  cursor: pointer;

  background-color: white;
  transition: 0.3s;
}

.check-isCompleted {
  background-color: #3366ff;
}

.save {
  position: absolute;
  right: 12px;
  top: 10px;
}

.priority {
  position: absolute;
  bottom: 12px;
  right: 16px;

  cursor: pointer;
}
