.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 4px solid #79b791;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.addInputSection {
  position: relative;

  width: 100%;
}

.sectionTitle {
  margin: 4px 0 12px 0;
}

.addInput {
  width: 100%;
  margin-bottom: 8px;
  padding: 4px;
  padding-right: 50px;
  min-height: 40px;

  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.priority {
  position: absolute;
  bottom: 16px;
  right: 16px;

  cursor: pointer;
}

.priorityDefault {
  color: grey;
}
