.root {
  position: absolute;
  top: 12px;
  left: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  cursor: pointer;

  transition: 0.2s;
}

.line {
  margin-top: 4px;
  width: 80%;
  height: 3px;
  background-color: grey;

  transition: 0.2s;
}

.line-isHovered {
  transform: scaleX(1.2);
  background-color: #79b791;
}
