.root {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  cursor: pointer;
}

.line {
  margin-top: 4px;
  width: 80%;
  height: 3px;
  background-color: grey;
}
