.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 12px;
  height: 40px;

  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #3a3335;
  text-decoration: none;

  background-color: var(--navColor);
}

.root:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #00a676;
  transition: 0.5s;
}

.root:hover:after {
  width: 100%;
}

.root:active {
  background-color: #ababab;
}

.root-isSelected {
  background-color: #ababab;
}
